<<<<<<< HEAD
#mainContact{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    /* border: thin solid red; */
    overflow: hidden;
}
#introContact{
    /* border : red solid thin; */
    display: inline-block;
    padding-top: 18.5%;
    padding-left: 4%;
    padding-right: 5%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    text-align: left;
    overflow: hidden;
    margin-top: 0%;
}
#titleDivContact {
    width:100%;
    overflow:hidden;
    /* border : orange solid thin; */
    box-sizing: border-box;
}
#titleContact {
    font-size: 3.2vw;
    margin-top: 0%;
    animation: slide-down 2s;
}
#textDivContact {
    width:100%;
    overflow:hidden;
    /* border : orange solid thin; */
    box-sizing: border-box;
    height: 25%;
    padding-top: 5%;
}
#textContact{
    font-size: 1.7vw;
    text-align: justify;
    margin-top: 0%;
    animation: slide-down 2s;
}
#buttonDivContact {
    width:100%;
    overflow:hidden;
    /* border : orange solid thin; */
    box-sizing: border-box;
    height: 15%;
}
.buttonContact{
    border: thin solid;
    border-color: white;
    padding: 1.2%;
    display: inline-block;
    font-size: 1.7vw;
    width: 25%;
    text-align: center;
    position: relative;
    transition: 0.5s;
    background: linear-gradient(to right, white 50%,rgb(254,59,0) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    margin-top: 0%;
    animation: slide-down 2s;
}
.buttonContact:hover{
    cursor: pointer;
    background-position: left bottom;
    color: rgb(254,59,0);
}

@keyframes slide-down {
    from {
        opacity: 0;
      margin-top: 100%;
    }
    to {
        opacity: 1;
      margin-top: 0%;
    }
}
@media only screen and (max-width: 767px) {
    #introContact{
        /* border : red solid thin; */
        display: block;
        padding-top: 0%;
        padding-left: 10%;
        padding-right: 10%;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
        text-align: center;
        overflow: hidden;
        margin-top: -2%;
    }
    #titleDivContact {
        width:100%;
        overflow:hidden;
        /* border : orange solid thin; */
        box-sizing: border-box;
    }
    #titleContact {
        font-size: 20pt;
        margin-top: 0%;
        animation: slide-down 2s;
    }
    #textDivContact {
        width:100%;
        overflow:hidden;
        /* border : orange solid thin; */
        box-sizing: border-box;
        height: 25%;
        padding-top: 0%;
    }
    #textContact{
        font-size: 12pt;
        text-align: justify;
        margin-top: 0%;
        animation: slide-down 2s;
    }
    #buttonDivContact {
        width:100%;
        overflow:hidden;
        /* border : orange solid thin; */
        box-sizing: border-box;
        height: 15%;
    }
    .buttonContact{
        border: thin solid;
        border-color: white;
        padding: 1.2%;
        font-size: 12pt;
        width: 100%;
        text-align: center;
        position: relative;
        transition: 0.5s;
        background: linear-gradient(to right, white 50%,rgb(254,59,0) 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all .5s ease-out;
        margin-top: 0%;
        animation: slide-down 2s;
    }
=======
#mainContact{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    /* border: thin solid red; */
    overflow: hidden;
}
#introContact{
    /* border : red solid thin; */
    display: inline-block;
    padding-top: 18.5%;
    padding-left: 4%;
    padding-right: 5%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    text-align: left;
    overflow: hidden;
    margin-top: 0%;
}
#titleDivContact {
    width:100%;
    overflow:hidden;
    /* border : orange solid thin; */
    box-sizing: border-box;
}
#titleContact {
    font-size: 3.2vw;
    margin-top: 0%;
    animation: slide-down 2s;
}
#textDivContact {
    width:100%;
    overflow:hidden;
    /* border : orange solid thin; */
    box-sizing: border-box;
    height: 25%;
    padding-top: 5%;
}
#textContact{
    font-size: 1.7vw;
    text-align: justify;
    margin-top: 0%;
    animation: slide-down 2s;
}
#buttonDivContact {
    width:100%;
    overflow:hidden;
    /* border : orange solid thin; */
    box-sizing: border-box;
    height: 15%;
}
.buttonContact{
    border: thin solid;
    border-color: white;
    padding: 1.2%;
    display: inline-block;
    font-size: 1.7vw;
    width: 25%;
    text-align: center;
    position: relative;
    transition: 0.5s;
    background: linear-gradient(to right, white 50%,rgb(254,59,0) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    margin-top: 0%;
    animation: slide-down 2s;
}
.buttonContact:hover{
    cursor: pointer;
    background-position: left bottom;
    color: rgb(254,59,0);
}

@keyframes slide-down {
    from {
        opacity: 0;
      margin-top: 100%;
    }
    to {
        opacity: 1;
      margin-top: 0%;
    }
}
@media only screen and (max-width: 767px) {
    #introContact{
        /* border : red solid thin; */
        display: block;
        padding-top: 0%;
        padding-left: 10%;
        padding-right: 10%;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
        text-align: center;
        overflow: hidden;
        margin-top: -2%;
    }
    #titleDivContact {
        width:100%;
        overflow:hidden;
        /* border : orange solid thin; */
        box-sizing: border-box;
    }
    #titleContact {
        font-size: 20pt;
        margin-top: 0%;
        animation: slide-down 2s;
    }
    #textDivContact {
        width:100%;
        overflow:hidden;
        /* border : orange solid thin; */
        box-sizing: border-box;
        height: 25%;
        padding-top: 0%;
    }
    #textContact{
        font-size: 12pt;
        text-align: justify;
        margin-top: 0%;
        animation: slide-down 2s;
    }
    #buttonDivContact {
        width:100%;
        overflow:hidden;
        /* border : orange solid thin; */
        box-sizing: border-box;
        height: 15%;
    }
    .buttonContact{
        border: thin solid;
        border-color: white;
        padding: 1.2%;
        font-size: 12pt;
        width: 100%;
        text-align: center;
        position: relative;
        transition: 0.5s;
        background: linear-gradient(to right, white 50%,rgb(254,59,0) 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all .5s ease-out;
        margin-top: 0%;
        animation: slide-down 2s;
    }
>>>>>>> b58e52fa7460b8445a86bc01e64268ca7d245cbb
  }