<<<<<<< HEAD
#cover{
    z-index: -1;
    background-color: rgb(20,20,20);
    /* border: salmon solid thin; */
}
#mainCanvas{
    z-index: -1;
    position: relative;
    margin-top: 8%;
    /* border: salmon solid thin; */
}
@media only screen and (max-width: 767px) {
    #cover{
        margin-left: 25%;
    }
    #mainCanvas{
        margin-left: 25%;
        margin-top: 0%;
    }
=======
#cover{
    z-index: -1;
    background-color: rgb(20,20,20);
    /* border: salmon solid thin; */
}
#mainCanvas{
    z-index: -1;
    position: relative;
    margin-top: 8%;
    /* border: salmon solid thin; */
}
@media only screen and (max-width: 767px) {
    #cover{
        margin-left: 25%;
    }
    #mainCanvas{
        margin-left: 25%;
        margin-top: 0%;
    }
>>>>>>> b58e52fa7460b8445a86bc01e64268ca7d245cbb
  }