#navBar{
    display: grid;
    width: 100%;
    grid-template-columns: 5% 10% 20% 10% 10% 10% 15% 10% 10%;
    grid-template-rows: 100%;
    /* border: red solid thin; */
    font-size: 1.7vw;
    vertical-align: middle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0%;
    animation: slide-down2 2s;
    position: absolute;
    z-index: 2;
}
.navBarItem{
    /* border: solid orange; */
    text-align: center;
    padding-top: 13%;
}
a{
    transition: 0.2s;
}
a:link{
    color : white;
}
a:visited {
    color: white;
}
a:hover {
   color: rgb(255, 81, 19);
   text-decoration-line: none;
}
a:active {
   color: rgb(255, 81, 19);;
}

.img{
    max-width:90%;
    max-height:90%;
}

#name{
    text-align: left;
    padding-left: 10%;
    padding-top: 12%;
}
span{
    transition: 0.4s;
}
span:hover{
    cursor: pointer;
    color: rgb(255, 81, 19);
}

#logo{
    text-align: right;
    padding-top: 8%;
}

#instaLogo{
    padding-left: 50%;
    padding-top: 12%;
}

#dribbbleLogo{
    margin-top: 14%;
    padding-right: 10%;
    text-align: left;
}

#navBarDiv{
    width:100%;
    overflow:hidden;
    /* border : orange solid thin; */
    box-sizing: border-box;
    height: 8%;
}

@keyframes slide-down2 {
    from {
      margin-top: -10%;
    }
    to {
      margin-top: 0%;
    }
}
@media only screen and (max-width: 767px) {
    #navBar{
        font-size: 2.5vw;
    }
}
