<<<<<<< HEAD
#skillsCover{
    background-color: rgb(20,20,20);
    /* border: salmon solid thin; */
}
#skillsCanvas{
    z-index: -1;
    position: relative;
    margin-top: 8%;
    /* border: salmon solid thin; */
}
@media only screen and (max-width: 767px) {
    #skillsCover{
        margin-left: 12.5%;
    }
    #skillsCanvas{
        margin-left: 12.5%;
        margin-top: 3%;
    }
=======
#skillsCover{
    background-color: rgb(20,20,20);
    /* border: salmon solid thin; */
}
#skillsCanvas{
    z-index: -1;
    position: relative;
    margin-top: 8%;
    /* border: salmon solid thin; */
}
@media only screen and (max-width: 767px) {
    #skillsCover{
        margin-left: 12.5%;
    }
    #skillsCanvas{
        margin-left: 12.5%;
        margin-top: 3%;
    }
>>>>>>> b58e52fa7460b8445a86bc01e64268ca7d245cbb
  }